body{
	font-family: Tahoma, sans-serif;
}

.section{
	padding: 30px 0px;
}

.headder{
	font-size: 20px;
	line-height: 1.5;
	margin: 60px auto;
}

.headder span{
	display: block;
}

.headder strong{
	text-transform: uppercase;
	font-weight: 900;
}

.form-headder{
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 20px;
}

.form{
	border:5px solid #2727d9;
	padding: 30px 20px;

}

.form-btn{
	margin: 10px auto;
	background-color: #2727d9;	
}

.form input{
	margin-bottom: 12px;
}

.section-headder{
	text-transform: uppercase;
	font-size:24px;
	font-weight: 900;
}
.feacher{
	margin: 60px auto;
}

.feacher p{
	margin-top: 20px;
	font-weight: 900;
}

.video{
	margin-bottom: 30px;
}

.feacher-box{
	height: 160px;
}

.footer h2{
	text-transform: uppercase;
	font-size:24px;
	font-weight: 900;
}

.client{
	margin-top: 30px;
}